$timelineFirstTdWidth: 40px;
$timelineBorder: 1px solid #dfdfdf;
$mainColor: rgba(220, 5, 30, 1);



@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px;
}
b {
  font-family: fontBold;
}
.main {
  height: 100%;
}

.tabs-wrap {
  background: $mainColor;
}
.tab {
  float: left;
  width: 50%;
  text-align: center;
  color: white;
  line-height: 42px;

  &.selected {
    background: transparentize(white, 0.8);
    font-family: fontBold;
  }
}
.tab-title {
  float: left;
  color: white;
  line-height: 42px;
  font-family: fontBold;
  font-size: 16px;
  padding-left: 16px;
}
.theme-switcher {
  float: right;
  line-height: 42px;
  font-size: 13px;
  padding-right: 16px;
  color: white;
  text-transform: uppercase;
}


.contents-wrap {
  position: relative;
}

.content {
  position: relative;
  height: 100%;
}

.schedule {
  background: #dfdfdf;
}
.schedule-top {
  position: relative;
}
.schedule-bottom {

}
.schedule-tabs {
  height: 100%;
}

.schedule-timeline {
  background: white;
  height: 100%;
  float: left;
  padding: 10px;
  overflow: auto;
}
.schedule-stages {
  height: 100%;
  float: right;
}

.cards {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px;

  td {
    transition-property: background, color;
    transition-duration: 600ms;
  }

  .selected {
    background: white;
    color: $mainColor;
    font-family: fontBold;
  }
}

.timeline {
  position: relative;
  height: 100%;

  // android webview bug!
  table * {
    box-sizing: content-box;
  }

  table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 10px;
  }

  table td {
    background: white;
    height: 23px;
    max-height: 23px;
    border-top: $timelineBorder;
    //border-left: $timelineBorder;
  }

  table tr:nth-child(even) td {
    border-top: 1px dashed #e6e6e6;
  }

  table tr td:last-child {
    //border-right: $timelineBorder;
  }

  table tr:last-child td {
    border-bottom: $timelineBorder;
  }

  table .time {
    width: 33px;
    vertical-align: top;

    span {
      font-size: 10px;
      color: #888;
    }
    &.last {
      border-bottom: $timelineBorder;
    }
  }
}

.event-wrap {
  position: absolute;
  width: 100%;
}
.event {
  padding: 3px 6px;
  margin-left: 34px;
  height: 100%;
  border: 1px solid #666;
  background: transparentize(#666, 0.2);
  border-radius: 3px;
  //font-size: 12px;
  color: white;
  overflow: hidden;
  line-height: 1;

  .time {
    font-family: fontBold;
  }

  span {
    font-size: 12px;
  }
}
.event-wrap.fav {
  z-index: 1;

  .event {
    //border: 1px solid black;
    //background: transparentize(black, 0.2);
    border-color: $mainColor;
    border-right-width: 6px;
  }
}
.event-wrap.in-progress .event {
  border: 1px solid $mainColor;
  background: transparentize($mainColor, 0.2);
  color: white;
}

.current-time-1 {
  position: absolute;
  height: 2px;
  width: 100%;
  background: transparentize($mainColor, 0.4);
}

.dark {

  .schedule {
    background: #3c3c3c;
  }

  .schedule-timeline {
    background: black;
  }

  .cards {
    color: #efefef;

    .selected {
      background: black;
      color: $mainColor;
    }
  }

  .timeline {

    table td {
      background: black;
      border-color: #333;
    }

    table tr:nth-child(even) td {
      border-color: #333;
    }

    table tr:last-child td {
      border-color: #333;
    }

    table tr:last-child td {
      border-color: #333;
    }

    table .time {
      &.last {
        border-color: #333;
      }
    }
  }

  .event {
    background: transparentize(#444, 0.2);
    border-color: #555;
    color: #efefef;
  }
}