$timelineFirstTdWidth: 40px;
$timelineBorder: 1px solid #dfdfdf;
$mainColor: #DC051E;


@font-face {
  font-family: RCr;
  src: url(RobotoCondensed-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: RCr, sans-serif;
  font-size: 13px;
}
.main {
  height: 100%;
}

.tabs-wrap {
  background: $mainColor;
}

.contents-wrap {
  position: relative;
}

.content {
  position: relative;
  height: 100%;
}

.schedule-top {
  position: relative;
  background: white;
}
.schedule-bottom {

}
.schedule-tabs {
  height: 100%;
}

.schedule-timeline {
  height: 100%;
  float: left;
  padding: 10px;
}
.schedule-stages {
  height: 100%;
  float: right;
}

.cards {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.cards .selected {
  background: white;
  color: $mainColor;
}

.timeline {
  position: relative;
  height: 100%;

  table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
  }

  table td {
    background: white;
    height: 36px;
    border-top: $timelineBorder;
    border-left: $timelineBorder;
  }

  table tr td:first-child {
    font-size: 10px;
    font-weight: bold;
    width: 40px;
    vertical-align: top;
    padding-top: 2px;
  }

  table tr td:last-child {
    border-right: $timelineBorder;
  }

  table tr:last-child td {
    border-bottom: $timelineBorder;
  }
}

.event-wrap {
  position: absolute;
  width: 100%;
}
.event {
  margin-left: 40px;
  height: 100%;
  border: 1px solid #888;
  background: rgba(0,0,0,.2);

//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,0.4)), color-stop(80%,rgba(255,0,0,0.4)), color-stop(90%,rgba(255,128,128,0.4)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top,  rgba(255,0,0,0.4) 0%,rgba(255,0,0,0.4) 80%,rgba(255,128,128,0.4) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
//  background: linear-gradient(to bottom,  rgba(255,0,0,0.4) 0%,rgba(255,0,0,0.4) 80%,rgba(255,128,128,0.4) 90%,rgba(255,255,255,0) 100%); /* W3C */
}