@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf); }
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px; }

b {
  font-family: fontBold; }

.main {
  height: 100%; }

.tabs-wrap {
  background: #dc051e;
  height: 42px; }

.tab {
  float: left;
  width: 50%;
  text-align: center;
  color: white;
  line-height: 42px; }
  .tab.selected {
    background: rgba(255, 255, 255, 0.2);
    font-family: fontBold; }

.tab-title {
  float: left;
  color: white;
  line-height: 42px;
  font-family: fontBold;
  font-size: 16px;
  padding-left: 16px; }

.theme-switcher {
  float: right;
  line-height: 42px;
  font-size: 13px;
  padding-right: 16px;
  color: white;
  text-transform: uppercase; }

.contents-wrap {
  position: relative;
  height: calc(100% - 42px); }

.content {
  position: relative;
  height: 100%; }

.schedule {
  background: #dfdfdf; }

.schedule-top {
  position: relative;
  height: calc(100% - 42px); }

.schedule-bottom {
  height: 42px; }

.schedule-tabs {
  height: 100%;
  width: calc(100% - 100px); }

.schedule-timeline {
  width: calc(100% - 100px);
  background: white;
  height: 100%;
  float: left;
  padding: 10px;
  overflow: auto; }

.schedule-stages {
  width: 100px;
  height: 100%;
  float: right; }

.cards {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px; }
  .cards td {
    transition-property: background, color;
    transition-duration: 600ms; }
  .cards .selected {
    background: white;
    color: #dc051e;
    font-family: fontBold; }

.timeline {
  position: relative;
  height: 100%; }
  .timeline table * {
    box-sizing: content-box; }
  .timeline table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 10px; }
  .timeline table td {
    background: white;
    height: 23px;
    max-height: 23px;
    border-top: 1px solid #dfdfdf; }
  .timeline table tr:nth-child(even) td {
    border-top: 1px dashed #e6e6e6; }
  .timeline table tr:last-child td {
    border-bottom: 1px solid #dfdfdf; }
  .timeline table .time {
    width: 33px;
    vertical-align: top; }
    .timeline table .time span {
      font-size: 10px;
      color: #888; }
    .timeline table .time.last {
      border-bottom: 1px solid #dfdfdf; }

.event-wrap {
  position: absolute;
  width: 100%; }

.event {
  padding: 3px 6px;
  margin-left: 34px;
  height: 100%;
  border: 1px solid #666;
  background: rgba(102, 102, 102, 0.8);
  border-radius: 3px;
  color: white;
  overflow: hidden;
  line-height: 1; }
  .event .time {
    font-family: fontBold; }
  .event span {
    font-size: 12px; }

.event-wrap.fav {
  z-index: 1; }
  .event-wrap.fav .event {
    border-color: #dc051e;
    border-right-width: 4px; }
    .event-wrap.fav .event::after {
      content: "\2605";
      position: absolute;
      bottom: 4px;
      right: 6px;
      width: 10px;
      height: 10px;
      color: #dc051e; }

.event-wrap.in-progress .event {
  border: 1px solid #dc051e;
  background: rgba(220, 5, 30, 0.8);
  color: white; }

.current-time-1 {
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(220, 5, 30, 0.6); }

.dark .schedule {
  background: #3c3c3c; }
.dark .schedule-timeline {
  background: black; }
.dark .cards {
  color: #efefef; }
  .dark .cards .selected {
    background: black;
    color: #dc051e; }
.dark .timeline table td {
  background: black;
  border-color: #333; }
.dark .timeline table tr:nth-child(even) td {
  border-color: #333; }
.dark .timeline table tr:last-child td {
  border-color: #333; }
.dark .timeline table tr:last-child td {
  border-color: #333; }
.dark .timeline table .time.last {
  border-color: #333; }
.dark .event {
  background: rgba(68, 68, 68, 0.8);
  border-color: #555;
  color: #efefef; }

/*# sourceMappingURL=style.css.map */
