@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf); }
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px; }

b {
  font-family: fontBold; }

.main {
  height: 100%; }

.header-wrap {
  background: #dc051e;
  height: 42px; }

.header-title {
  float: left;
  color: white;
  line-height: 42px;
  font-family: fontBold;
  font-size: 16px;
  padding-left: 16px; }

.header-tabs-wrap {
  float: right;
  margin-right: 16px;
  font-size: 13px;
  color: white;
  text-transform: uppercase; }

.header-tab {
  float: left;
  padding: 0 10px;
  position: relative;
  height: 42px;
  line-height: 42px; }
  .header-tab.selected {
    background-color: rgba(255, 255, 255, 0.2); }
    .header-tab.selected:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: white; }

.theme-switcher {
  padding: 0;
  margin-left: 16px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  background-image: url(assets/sun.svg); }

.contents-wrap {
  position: relative;
  height: calc(100% - 42px); }

.content {
  position: relative;
  height: 100%; }

.schedule {
  background: #dfdfdf; }

.schedule-top {
  position: relative;
  height: calc(100% - 42px); }

.schedule-bottom {
  height: 42px; }

.schedule-tabs {
  height: 100%;
  width: calc(100% - 100px); }

.schedule-timeline {
  width: calc(100% - 100px);
  background: white;
  height: 100%;
  float: left;
  padding: 10px;
  overflow: auto; }

.schedule-stages {
  width: 100px;
  height: 100%;
  float: right; }

.cards {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px; }
  .cards td {
    transition-property: background, color;
    transition-duration: 600ms;
    position: relative; }
  .cards .selected {
    background: white;
    color: #dc051e;
    font-family: fontBold; }
    .cards .selected:after {
      content: '';
      position: absolute;
      background-color: #dc051e; }
    .cards .selected.stage:after {
      top: 0;
      right: 0;
      height: 100%;
      width: 4px; }
    .cards .selected.day:after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px; }

.timeline {
  position: relative;
  height: 100%; }
  .timeline table * {
    box-sizing: content-box; }
  .timeline table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 10px; }
  .timeline table td {
    background: white;
    height: 23px;
    max-height: 23px;
    border-top: 1px solid #dfdfdf; }
  .timeline table tr:nth-child(even) td {
    border-top: 1px dashed #e6e6e6; }
  .timeline table tr:last-child td {
    border-bottom: 1px solid #dfdfdf; }
  .timeline table .time {
    width: 33px;
    vertical-align: top; }
    .timeline table .time span {
      font-size: 10px;
      color: #888; }
    .timeline table .time.last {
      border-bottom: 1px solid #dfdfdf; }

.event-wrap {
  position: absolute;
  width: 100%; }

.event {
  padding: 3px 6px;
  margin-left: 34px;
  height: 100%;
  border: 1px solid #666;
  border-right-width: 4px;
  background: rgba(102, 102, 102, 0.8);
  border-radius: 3px;
  color: white;
  overflow: hidden;
  line-height: 1; }
  .event .time {
    font-family: fontBold; }
  .event span {
    font-size: 12px; }

.event-wrap.fav {
  z-index: 1; }
  .event-wrap.fav .event {
    border-color: #dc051e; }
    .event-wrap.fav .event::after {
      content: "\2605";
      position: absolute;
      bottom: 4px;
      right: 8px;
      width: 10px;
      height: 10px;
      color: #dc051e; }

.event-wrap.in-progress .event {
  border: 1px solid #dc051e;
  background: rgba(220, 5, 30, 0.8);
  color: white; }

.current-time-1 {
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(220, 5, 30, 0.6); }

.favs {
  background: #dfdfdf; }

.favs-top {
  position: relative;
  height: calc(100% - 42px);
  background: white;
  overflow: auto; }

.favs-bottom {
  height: 42px; }

.favs-tabs {
  height: 100%;
  width: 100%; }

.fav-wrap {
  padding: 14px 16px 16px;
  border-bottom: 1px solid #dfdfdf;
  position: relative; }
  .fav-wrap p {
    margin: 0 0 8px;
    padding: 0; }
    .fav-wrap p.fav-title {
      font-size: 16px; }
    .fav-wrap p:last-child {
      margin: 0; }
  .fav-wrap .fav-stage {
    margin-right: 8px;
    background: rgba(102, 102, 102, 0.8);
    color: white;
    text-transform: uppercase;
    padding: 3px 6px 2px;
    border-radius: 2px; }
  .fav-wrap .fav-start-end {
    padding: 3px 0 2px;
    color: #666; }
  .fav-wrap .fav-trash {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    right: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-image: url(assets/trash-b.svg); }

.dark .header-tab.selected {
  background-color: rgba(0, 0, 0, 0.2); }
  .dark .header-tab.selected:after {
    background-color: black; }
.dark .theme-switcher {
  background-size: 20px;
  background-image: url(assets/moon.svg); }
.dark .schedule, .dark .favs {
  background: #303030; }
.dark .schedule-timeline, .dark .favs-top {
  background: black; }
.dark .cards {
  color: #efefef; }
  .dark .cards .selected {
    background: black;
    color: #dc051e; }
.dark .timeline table td {
  background: black;
  border-color: #333; }
.dark .timeline table tr:nth-child(even) td {
  border-color: #333; }
.dark .timeline table tr:last-child td {
  border-color: #333; }
.dark .timeline table tr:last-child td {
  border-color: #333; }
.dark .timeline table .time.last {
  border-color: #333; }
.dark .event {
  background: rgba(68, 68, 68, 0.8);
  border-color: #555;
  color: #efefef; }
.dark .fav-wrap {
  border-color: #333; }
  .dark .fav-wrap .fav-title {
    color: white; }
  .dark .fav-wrap .fav-stage {
    background: #444;
    color: #efefef; }
  .dark .fav-wrap .fav-start-end {
    color: #efefef; }
  .dark .fav-wrap .fav-trash {
    background-image: url(assets/trash-w.svg); }

/*# sourceMappingURL=style.css.map */
