$timelineFirstTdWidth: 40px;
$timelineBorder: 1px solid #dfdfdf;
$mainColor: rgba(220, 5, 30, 1);

$height--header: 42px;
$height--day-cards: 42px;
$width--stage-cards: 100px;

$dimension--selection-border: 4px;


@font-face {
  font-family: fontRegular;
  src: url(RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: fontBold;
  src: url(RobotoCondensed-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: fontRegular, sans-serif;
  font-size: 13px;
}
b {
  font-family: fontBold;
}
.main {
  height: 100%;
}

.header-wrap {
  background: $mainColor;
  height: $height--header;
}
.header-title {
  float: left;
  color: white;
  //line-height: $height--header;
  font-family: fontBold;
  font-size: 16px;
  padding-left: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: $height--header;
}
.header-tabs-wrap {
  float: right;
  margin-right: 16px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}
.header-tab {
  float: left;
  padding: 0 10px;
  position: relative;
  //height: $height--header;
  //line-height: $height--header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height--header;

  &.selected {
    background-color: transparentize(white, 0.8);

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $dimension--selection-border;
      background-color: white;
    }
  }
}

.theme-switcher {
  padding: 0;
  margin-left: 16px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  background-image: url(assets/sun.svg);
}

.contents-wrap {
  position: relative;
  height: calc(100% - #{$height--header});
}

.content {
  position: relative;
  height: 100%;
}

.schedule {
  background: #dfdfdf;
}
.schedule-top {
  position: relative;
  height: calc(100% - #{$height--day-cards});
}
.schedule-bottom {
  height: $height--day-cards;
}
.schedule-tabs {
  height: 100%;
  width: calc(100% - #{$width--stage-cards});
}

.schedule-timeline {
  width: calc(100% - #{$width--stage-cards});
  background: white;
  height: 100%;
  float: left;
  padding: 10px;
  overflow: auto;
}
.schedule-stages {
  width: $width--stage-cards;
  height: 100%;
  float: right;
}

.cards {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px;

  td {
    //transition-property: background, color;
    //transition-duration: 600ms;
    position: relative;
  }

  .selected {
    background: white;
    color: $mainColor;
    font-family: fontBold;

    &:after {
      content: '';
      position: absolute;
      background-color: $mainColor;
    }

    &.stage:after {
      top: 0;
      right: 0;
      height: 100%;
      width: $dimension--selection-border;
    }

    &.day:after {
      bottom: 0;
      left: 0;
      width: 100%;

      height: $dimension--selection-border;
    }
  }
}

.timeline {
  position: relative;
  height: 100%;

  // android webview bug!
  table * {
    box-sizing: content-box;
  }

  table {
    text-align: center;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 10px;
  }

  table td {
    background: white;
    height: 23px;
    max-height: 23px;
    border-top: $timelineBorder;
    //border-left: $timelineBorder;
  }

  table tr:nth-child(even) td {
    border-top: 1px dashed #e6e6e6;
  }

  table tr td:last-child {
    //border-right: $timelineBorder;
  }

  table tr:last-child td {
    border-bottom: $timelineBorder;
  }

  table .time {
    width: 33px;
    vertical-align: top;

    span {
      font-size: 10px;
      color: #888;
    }
    &.last {
      border-bottom: $timelineBorder;
    }
  }
}

.event-wrap {
  position: absolute;
  width: 100%;
  min-height: 20px;
}
.event {
  padding: 3px 6px;
  margin-left: 34px;
  height: 100%;
  border: 1px solid #666;
  border-right-width: $dimension--selection-border;
  background: transparentize(#666, 0.2);
  border-radius: 3px;
  //font-size: 12px;
  color: white;
  overflow: hidden;
  line-height: 1;

  .time {
    font-family: fontBold;
  }

  span {
    font-size: 12px;
  }
}
.event-wrap.fav {
  z-index: 1;

  .event {
    //border: 1px solid black;
    //background: transparentize(black, 0.2);
    border-color: $mainColor;

    &::after {
      content: "\2605";
      position: absolute;
      bottom: 4px;
      right: 8px;
      width: 10px;
      height: 10px;
      color: $mainColor;
    }
  }
}
.event-wrap.in-progress .event {
  border: 1px solid $mainColor;
  background: transparentize($mainColor, 0.2);
  color: white;
}

.current-time-1 {
  position: absolute;
  height: 2px;
  width: 100%;
  background: transparentize($mainColor, 0.4);
}

.favs {
  background: #dfdfdf;
}
.favs-top {
  position: relative;
  height: calc(100% - #{$height--day-cards});
  background: white;
  overflow: auto;
}
.favs-bottom {
  height: $height--day-cards;
}
.favs-tabs {
  height: 100%;
  width: 100%;
}
.fav-wrap {
  padding: 14px 16px 16px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;

  p {
    margin: 0 0 8px;
    padding: 0;

    &.fav-title {
      font-size: 16px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .fav-stage {
    margin-right: 8px;
    background: transparentize(#666, 0.2);
    color: white;
    text-transform: uppercase;
    padding: 3px 6px 2px;
    border-radius: 2px;

    &.in-progress {
      background: transparentize($mainColor, 0.2) !important;
    }
  }

  .fav-start-end,
  .fav-relative {
    padding: 3px 0 2px;
    color: #666;
  }

  .fav-relative {
    margin-left: 8px;

    &.urgent {
      color: $mainColor !important;
    }
  }

  .fav-trash {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    right: 11px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-image: url(assets/trash-b.svg);
  }
}

.over-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);

  .window {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px #666;
    width: calc(100% - 100px);
    height: 250px;
    top: 50%;
    margin: -125px 0 0 50px;
    border-radius: 6px;
  }

  .window-header {
    padding-top: 14px;
    height: 90px;
    border-bottom: $timelineBorder;
    //background-color: #dfdfdf;

    p {
      padding: 0 16px;
      margin-bottom: 8px;
    }

    .window-event-title {
      font-size: 16px;
    }

    .window-stage {
      margin-right: 8px;
      background: transparentize(#666, 0.2);
      color: white;
      text-transform: uppercase;
      padding: 3px 6px 2px;
      border-radius: 2px;

      &.in-progress {
        background: transparentize($mainColor, 0.2) !important;
      }
    }

    .window-start-end,
    .window-relative {
      padding: 3px 0 2px;
      color: #666;
    }

    .window-relative {
      margin-left: 8px;

      &.urgent {
        color: $mainColor !important;
      }
    }
  }

  .window-action {
    font-size: 12px;
    padding: 0 16px;
    line-height: 39px;
    border-bottom: $timelineBorder;

    &.active {
      background-color: #dfdfdf;
    }

    &:last-child {
      border: none;
    }
  }

}

.dark {

  .header-tab {

    &.selected {
      background-color: transparentize(black, 0.8);

      &:after {
        background-color: black;
      }
    }
  }

  .theme-switcher {
    background-size: 20px;
    background-image: url(assets/moon.svg);
  }

  .schedule, .favs {
    background: #303030;
  }

  .schedule-timeline, .favs-top {
    background: black;
  }

  .cards {
    color: #efefef;

    .selected {
      background: black;
      color: $mainColor;
    }
  }

  .timeline {

    table td {
      background: black;
      border-color: #333;
    }

    table tr:nth-child(even) td {
      border-color: #333;
    }

    table tr:last-child td {
      border-color: #333;
    }

    table tr:last-child td {
      border-color: #333;
    }

    table .time {
      &.last {
        border-color: #333;
      }
    }
  }

  .event {
    background: transparentize(#444, 0.2);
    border-color: #555;
    color: #efefef;
  }

  .fav-wrap {
    border-color: #333;

    .fav-title {
      color: white;
    }

    .fav-stage {
      background: #444;
      color: #efefef;
    }

    .fav-start-end {
      color: #efefef;
    }

    .fav-trash {
      background-image: url(assets/trash-w.svg);
    }
  }
}
