<div class="content schedule">
  <div class="schedule-top">
    <div class="schedule-timeline">
      <div class="timeline">
        <div ex-current-time-1></div>
        <table>
          <tbody>
            <tr><td class="time" rowspan="2"><span>19:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>20:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>21:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>22:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>23:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>00:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>01:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>02:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>03:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>04:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>05:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>06:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time last" rowspan="2"><span>07:00</span></td><td></td></tr>
            <tr><td></td></tr>
          </tbody>
        </table>
        <div ex-schedule-event
             ng-class="{ fav: favs.hasOwnProperty(event.id) }"
             ng-tap="saveFav(event.id)"
             ng-repeat="event in model.data[model.prefs.selectedDay][model.prefs.selectedStage]"></div>
      </div>
    </div>
    <div class="schedule-stages">
      <table class="cards">
        <tbody>
          <tr ng-repeat="stage in ::model.stages track by $index">
            <td ng-bind="::stage"
                ng-tap="model.prefs.selectedStage = $index; saveStage($index)"
                ng-class="{selected: model.prefs.selectedStage == $index}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="schedule-bottom">
    <div class="schedule-tabs">
      <table class="cards">
        <tbody>
        <tr>
          <td ng-repeat="day in ::model.days track by $index"
              ng-tap="model.prefs.selectedDay = $index"
              ng-class="{selected: model.prefs.selectedDay == $index}"
              style="width: {{::100/model.days.length}}%">
            <small>day</small> {{::($index+1)}}<br><small>{{::day}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>