<div class="content schedule">
  <div class="schedule-top" style="height: {{::s_scheduleTopHeight}}px">
    <div class="schedule-timeline" style="width: {{::s_scheduleTimelineWidth}}px">
      <div class="timeline">
        <table>
          <tbody>
            <tr><td><span class="time">19:00</span></td><td></td></tr>
            <tr><td><span class="time">20:00</span></td><td></td></tr>
            <tr><td><span class="time">21:00</span></td><td></td></tr>
            <tr><td><span class="time">22:00</span></td><td></td></tr>
            <tr><td><span class="time">23:00</span></td><td></td></tr>
            <tr><td><span class="time">00:00</span></td><td></td></tr>
            <tr><td><span class="time">01:00</span></td><td></td></tr>
            <tr><td><span class="time">02:00</span></td><td></td></tr>
            <tr><td><span class="time">03:00</span></td><td></td></tr>
            <tr><td><span class="time">04:00</span></td><td></td></tr>
            <tr><td><span class="time">05:00</span></td><td></td></tr>
            <tr><td><span class="time">06:00</span></td><td></td></tr>
          </tbody>
        </table>
        <div ex-event ng-repeat="event in model.tabSchedule.timeline[model.tabSchedule.selectedDay][model.tabSchedule.selectedStage]"></div>
      </div>
    </div>
    <div class="schedule-stages" style="width: {{::s_scheduleStagesWidth}}px">
      <table class="cards">
        <tbody>
          <tr ng-repeat="stage in ::model.stages track by $index">
            <td ng-bind="::stage"
                ng-tap="model.tabSchedule.selectedStage = $index"
                ng-class="{selected: model.tabSchedule.selectedStage == $index}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="schedule-bottom" style="height: {{::s_scheduleBottomHeight}}px">
    <div class="schedule-tabs" style="width: {{::s_scheduleTimelineWidth}}px">
      <table class="cards">
        <tbody>
        <tr>
          <td ng-repeat="day in ::model.days track by $index"
              ng-tap="model.tabSchedule.selectedDay = $index"
              ng-class="{selected: model.tabSchedule.selectedDay == $index}"><small>day</small> {{::($index+1)}}<br><small>{{::day}}</small></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>