<div class="content schedule">
  <div class="schedule-top" style="height: {{::s_scheduleTopHeight}}px">
    <div class="schedule-timeline" style="width: {{::s_scheduleTimelineWidth}}px">
      <div class="timeline">
        <div ex-current-time-1></div>
        <table>
          <tbody>
            <tr><td class="time" rowspan="2"><span>19:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>20:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>21:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>22:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>23:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>00:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>01:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>02:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>03:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>04:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>05:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>06:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time last" rowspan="2"><span>07:00</span></td><td></td></tr>
            <tr><td></td></tr>
          </tbody>
        </table>
        <div ex-schedule-event ng-repeat="event in model.data[model.tabSchedule.selectedDay][model.tabSchedule.selectedStage]"></div>
      </div>
    </div>
    <div class="schedule-stages" style="width: {{::s_scheduleStagesWidth}}px">
      <table class="cards">
        <tbody>
          <tr ng-repeat="stage in ::model.stages track by $index">
            <td ng-bind="::stage"
                ng-tap="model.tabSchedule.selectedStage = $index"
                ng-class="{selected: model.tabSchedule.selectedStage == $index}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="schedule-bottom" style="height: {{::s_scheduleBottomHeight}}px">
    <div class="schedule-tabs" style="width: {{::s_scheduleTimelineWidth}}px">
      <table class="cards">
        <tbody>
        <tr>
          <td ng-repeat="day in ::model.days track by $index"
              ng-tap="model.tabSchedule.selectedDay = $index"
              ng-class="{selected: model.tabSchedule.selectedDay == $index}"
              style="width: {{::100/model.days.length}}%">
            <small>day</small> {{::($index+1)}}<br><small>{{::day}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>