<div class="content schedule">
  <div class="schedule-top">
    <div class="schedule-timeline">
      <div class="timeline">
        <div ex-current-time-1></div>
        <table>
          <tbody>
            <tr><td class="time" rowspan="2"><span>19:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>20:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>21:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>22:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>23:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>00:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>01:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>02:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>03:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>04:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>05:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time" rowspan="2"><span>06:00</span></td><td></td></tr>
            <tr><td></td></tr>
            <tr><td class="time last" rowspan="2"><span>07:00</span></td><td></td></tr>
            <tr><td></td></tr>
          </tbody>
        </table>
        <div ex-schedule-event
             ng-class="{ 'fav': favs.hasOwnProperty(event.title), 'in-progress': event.inProgress }"
             ng-tap="methods.setFav(event)"
             ng-long-tap="methods.openEventContextmenu(event)"
             ng-repeat="event in filteredEvents"></div>
      </div>
    </div>
    <div class="schedule-stages">
      <table class="cards">
        <tbody>
          <tr ng-repeat="stage in stages">
            <td ng-bind="stage"
                class="stage"
                ng-tap="methods.setStage(stage)"
                ng-class="{ selected: prefs.selectedStage === stage }"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="schedule-bottom">
    <div class="schedule-tabs">
      <table class="cards">
        <tbody>
        <tr>
          <td ng-repeat="(day, dayObj) in days"
              class="day"
              ng-tap="methods.setDay(day)"
              ng-class="{ selected: prefs.selectedDay === day }"
              ng-style="{ width: 100/methods.getDaysCount() + '%' }">
            <small>day</small> {{dayObj.index}}<br><small>{{dayObj.name}}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
